{% extends './index.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>Error 404</title>
    {% endblock title %}
  </head>

  <body>
    {% block content %}

    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center"
      >
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a
                    href="./index.html"
                    class="text-nowrap logo-img text-center d-block py-3 w-100"
                  >
                    <img
                      src="{{ url_for('static', path='images/logos/logo.png') }}"
                      width="120"
                      alt=""
                    />
                  </a>
                  <h5 class="text-center card-title">
                    "Error 404 Pagina no encoontrada :("
                  </h5>

                  <a
                    href="javascript: history.go(-1)"
                    class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2 mt-4"
                  >
                    Volver atrás
                  </a>
                </div>
              </div>
              <p class="fs-4 d-flex justify-content-center mt-5 fw-bold">
                © Alcaravan S.A
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %} {% block js %}
    <script src="{{ url_for('static', path='libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{url_for('static', path='libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    {% endblock js %}
  </body>
</html>
