{% extends 'dashboard/dashboard.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <title>Editar Usuario</title>
    {% endblock title %}
  </head>

  <body>
    {% block main %}
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row mb-5">
            <div class="col-md-4">
              <a class="btn btn-success" href="/users"><</a>
            </div>

            <div class="col-md-4 mt-5">
              <h5 class="card-title fw-semibold mb-4">Actualizar usuario</h5>

              <form action="/users/edit/{{user_edit.id}}" method="POST">
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Nombre de usuario</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    value=" {{user_edit.username}}"
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Rol</label>
                  <select class="form-control" name="rol" id="rol">
                    <option value="" selected="selected">-----</option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="GUEST">GUEST</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Contraseña"
                  />
                </div>
                <button type="submit" class="btn btn-block btn-primary">
                  Registrar
                </button>
              </form>

              {% if flash_message %}
              <div
                class="alert alert-{{ flash_message.category }} mt-4"
                role="alert"
              >
                {{ flash_message.message }}
              </div>
              {% endif %}
            </div>

            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
    {% endblock main %} {% block js_extra %} {% endblock js_extra %}
  </body>
</html>
